/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.enemy {
  display: absolute;
  background-image: url("asteroid.png");
  background-color: black;
  fill: blue;
  height: 10px;
  width: 10px;
}

