/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  background-image: url('images/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
/*  width: 900px; 
  height: 900px;
*/}

.header {
  font-family: "gameText";
  font-size: 250%;
  color: white;
}

.scoreboard {
  font-family: "gameText";
  width: 900px;
  color: white;
}

.highscore {
  font-size: 120%;
  float:left;
  width:300px;
}

.current {
  font-size: 120%;
  float:left;
  width:300px;
}

.collisions {
  font-size: 120%;
  float:left;
  width:300px;
}


@font-face {
  font-family: "gameText";
  src: url(images/gameText.ttf) format("truetype");
}
